@import url('https://fonts.googleapis.com/css2?family=Montez&display=swap');

body {
    background: #eaeaff;
}

h2 {
    margin: 0 0 10px;
}

.row-container {
    overflow-x: hidden;
    width: 100vw;
    position: relative;
    margin-bottom: 25px;
    padding: 10px 10px 25px;
}

.row-container button.row-nav {
    position: absolute;
    top: 0;
    height: 100%;
    padding: 0 20px;
    background: rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    color: white;
    font-size: 24px;
    font-weight: 900;
    cursor: pointer;
    transition: 0.2s;
    border: 0;
}

.row-container button.row-nav:hover {
    background: rgba(0, 0, 0, 0.7);
}

.row-container button.prev {
    left: 0;
}

.row-container button.next {
    right: 0;
}

.row-container .entries {
    display: flex;
    width: fit-content;
    transition: 0.75s;
}

.row-container .entries.page1 {
    transform: translateX(0);
}

.row-container .entries.page2 {
    transform: translateX(calc(375px * -4));
}

a.blog-image-tile {
    position: relative;
    margin-right: 25px;
    width: fit-content;
    float: left;
    height: 207px;
    width: 368px;
    overflow: hidden;
    border: 3px solid transparent;
    transition: 300ms;
}

a.blog-image-tile:hover {
    box-shadow: 0px 10px 20px -16px rgba(0, 0, 0, 0.8),
        0px 7px 2px -10px rgba(0, 0, 0, 0.72);
    transform: scale(1.05, 1.05) translateZ(0px) translate3d(0px, 0px, 0px);
    transition-duration: 300ms;
    transition-property: transform, box-shadow;
    transition-timing-function: ease-out;
    border-color: white;
}

a.blog-image-tile .when-text {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 25px 5px 15px;
    color: #fff !important;
    font-size: 24px;
    font-weight: 900;
    border-bottom-right-radius: 20px 100%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-family: 'Montez', cursive;
    letter-spacing: 1px;
    z-index: 1;
}

a.blog-image-tile .when-text::before {
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    width: calc(100% - 20px);
    height: 40%;
    content: '';
    background: rgba(0, 0, 0, 0.15);
    z-index: -1;
    border-radius: 2px;
}

a.blog-image-tile button.share {
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    cursor: pointer;
}

a.blog-image-tile button.share:hover {
    color: green;
    transform: scale(1.1, 1.1);
}

a.blog-image-tile button.share i {
    margin-right: 5px;
}

a.blog-image-tile div.text-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    padding: 10px;
    text-decoration: none;
}

a.blog-image-tile .blog-list-yt-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 20%;
    width: unset;
    /* opacity: 50%; */
    transition: 700ms;
}

a.blog-image-tile:hover .blog-list-yt-icon {
    /* box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.7); */
    transform: translate(-50%, -70%) scale(1.2, 1.2);
    opacity: 0.5;
}

a.blog-image-tile div.text-overlay .title {
    position: absolute;
    margin: 10px;
    bottom: 0;
    left: 0;
    color: #fff;
    font-weight: 600;
    transition: 0.25s;
}

a.blog-image-tile:hover div.text-overlay .title {
    bottom: 10px;
}

a.blog-image-tile div.text-overlay .title i {
    margin-right: 5px;
    color: #ff0000;
}

a.blog-image-tile.after .when-text,
a.blog-image-tile.after div.text-overlay .categories .category {
    background: rgb(153, 50, 204);
}

a.blog-image-tile.after div.text-overlay {
    background: linear-gradient(transparent, rgba(153, 50, 204, 0.5));
}

a.blog-image-tile.during .when-text,
a.blog-image-tile.during div.text-overlay .categories .category {
    background: rgb(0, 128, 0);
}

a.blog-image-tile.during div.text-overlay {
    background: linear-gradient(transparent, rgba(0, 128, 0, 0.5));
}

a.blog-image-tile.before .when-text,
a.blog-image-tile.before div.text-overlay .categories .category {
    background: rgb(0, 191, 255);
    color: black;
}

a.blog-image-tile.before div.text-overlay {
    background: linear-gradient(transparent, rgba(0, 191, 255, 0.5));
}

a.blog-image-tile.ssr .when-text,
a.blog-image-tile.ssr div.text-overlay .categories .category {
    background: rgb(249, 117, 67);
}

a.blog-image-tile.ssr div.text-overlay {
    background: linear-gradient(transparent, rgba(249, 117, 67, 0.5));
}

a.blog-image-tile div.text-overlay .categories .category {
    padding: 1px 5px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 10px;
    margin-right: 5px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
}

a.blog-image-tile div.text-overlay .categories .category:last-child {
    margin-right: 0;
}
